<h3> <%= @pool.name %> </h3>

<p> Please remember to read the tournament rules before making your picks. Reference <a href="http://www.owgr.com/ranking" target="_blank"> http://www.owgr.com/ranking </a> for golfers rankings. </p>


<% if currently_participates_in_pool?(@pool.id) %>
	<% if !@picks.empty?  %>
			<%= render partial: "picks/show", collection: @picks1.sort_by(&:id), as: :pick, locals: {pool: @pool} %>
	<% end %>
	<% if @picks2 && !@picks2.empty? %>
	<br>
		Entrant 2:
			<%= render partial: "picks/show", collection: @picks2.sort_by(&:id), as: :pick, locals: {pool: @pool} %>
	<% end %>
	<% if @picks3 && !@picks3.empty? %>
	<br>
		Entrant 3:
			<%= render partial: "picks/show", collection: @picks3.sort_by(&:id), as: :pick, locals: {pool: @pool} %>
	<% end %>
	<% if @picks4 && !@picks4.empty? %>
		<br>
		Entrant 4:
			<%= render partial: "picks/show", collection: @picks4.sort_by(&:id), as: :pick, locals: {pool: @pool} %>
	<% end %>
	<% if @picks5 && !@picks5.empty? %>
		<br>
		Entrant 5:
			<%= render partial: "picks/show", collection: @picks5.sort_by(&:id), as: :pick, locals: {pool: @pool} %>
	<% else %>
		<%= link_to "Add additional entrant", add_additional_entrant_to_pool_path, method: "post", :class => "waves-effect waves-light btn" %>
	<% end %>

<% else %>
	<%= link_to("Join", show_join_pool_path, :class => "waves-effect waves-light btn") %>
<% end %>

<% if owner?(@pool.creator_id) %>
<br>
<div id = "pool-owner-actions">
	<h5 id="edit-pool-link"> <%= link_to("Edit Pool", edit_pool_path(@pool), :class => "waves-effect waves-light btn") %> </h5>
	<h5 id="delete-pool-button"> <%= button_to("Delete Pool", pool_path(@pool), data: { confirm: "Are you sure?" }, method: :delete, :class => "waves-effect waves-light red btn") %> </h5>
</div>
<% end %>

<br>

<table border=1 id="pool-picks-table">
	<!-- Header row -->
	<tr> 
		<th class='right-border bottom-border'> Entrant name </th>
		<% @pool.number_picks.times do |time| %>
			<th class='right-border bottom-border'> Pick <%= time + 1%> </th>
		<% end %>
		<th class='bottom-border'> Total score </th>
	</tr>
	
	<% @pool.sort_pool_participants_by_score.each do |participant| %>
		<!-- entrant name and picks -->
		<tr> 
			<td class='right-border top-border'> <%= participant.user.abbreviated_name %> </td>
			<!-- if tournament is ongoing, or if the entrant is the current user, show the picks -->
			<% if (@pool.tournament.status == "ongoing" || @pool.tournament.status == "completed") || (user_signed_in? && participant.user.id == current_user.id) %>
				<% participant.picks.each do |pick| %>
					<td class='right-border top-border'> <%if pick.golfer %> <%= pick.golfer.full_name %> <%end%></td>
				<% end %>
			<% else %>
				 <td class='right-border top-border'> Hidden </td>		
			<% end %>

		 </tr>
		<!-- Entrant subscores and total -->
		<% if participant.picks_made? && (@pool.tournament.status == "ongoing" || @pool.tournament.status == "completed") %>
			<tr> <td class='right-border'> </td>  <% participant.picks.each do |pick| %>
				<td class='right-border'> <%= pick.golfers_total %> </td>
			<%end%> 
			<td> <%= participant.total_score %> </td>
			</tr>
		<% end %>
	<% end %>

</table>

<br> <br>


<% if @pool.pool_type == "PGA" %>
	<%= render "pools/golf_pool_show" %>
<% elsif @pool.pool_type == "NFL" %>
	<%= render "pools/football_pool_show" %>
<% elsif @pool.pool_type == "NHL" %>
	<%= render "pools/hockey_pool_show" %>
<% elsif @pool.pool_type == "NBA" %>
	<%= render "pools/basketball_pool_show" %>
<% elsif @pool.pool_type == "MLB" %>
	<%= render "pools/baseball_pool_show" %>
<% end %>