<h3> <%= @pool.name %> </h3>
<% if owner?(@pool.creator_id) %>
	<h5 id="view-user-<%= current_user.id %>-pool-<%= @pool.id %>-link"> <%= link_to("Edit", edit_pool_path(@pool)) %> </h5>
<h5 id="edit-pool-link"> <%= link_to("Edit", edit_pool_path(@pool)) %> </h5>
<h5 id="delete-pool-button"> <%= button_to("Delete", pool_path(@pool), data: { confirm: "Are you sure?" }, method: :delete) %> </h5>
<% end %>


<% if currently_participates_in_pool?(@pool.id) %>
	<% if !@picks.empty?  %>
			<%= render partial: "picks/show", collection: @picks, as: :pick, locals: {pool: @pool} %>
	<% else %>
		<p> You haven't made your picks yet. You can make and change your picks up until the day of the start of the tournament. </p>
		<p> <%= link_to("Make your picks", new_pick_path) %> </p>
	<% end %>
<% else %>
	<%= link_to("Join", show_join_pool_path) %>
<% end %>



<% if @pool.pool_type == "PGA" %>
	<%= render "pools/golf_pool_show" %>
<% elsif @pool.pool_type == "NFL" %>
	<%= render "pools/football_pool_show" %>
<% elsif @pool.pool_type == "NHL" %>
	<%= render "pools/hockey_pool_show" %>
<% elsif @pool.pool_type == "NBA" %>
	<%= render "pools/basketball_pool_show" %>
<% elsif @pool.pool_type == "MLB" %>
	<%= render "pools/baseball_pool_show" %>
<% end %>


<h1> owner?: <%= owner?(@pool.creator_id) %> </h1>
<h1> owner id: <%= @pool.creator_id %> </h1>
<h1> <% if !PoolParticipant.where(pool_id: @pool.id, user_id: 5).empty? %>
true
<% else %>
false 
<% end %>